@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #114732, #051d16 65%);
}

.felt-texture {
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 4px 4px;
}
